html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom styles */
.text-mico {
    color: #00bbff;
}

.btn-mico {
    background-color: #00bbff;
}

.btn-mico:hover {
    background-color: #54d1ff;
}

.border-mico {
    border-color: #00bbff;
}

.author {
    font-size: 10px;
}

.date {
    font-size: 12px;
}

.description {
    font-size: 11px;
}

.threads-list-img {
    width: 100px;
    height: 100px;
}

.threads-list-btn {
    width: 50px;
}

.check-mico:checked {
    background-color: #00bbff;
    border-color: #00bbff;
    box-shadow: none;
}

.wall-of-fame-img {
    width: 50px;
    height: 50px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.pfp {
    width: 100px;
    height: 100px;
}

.pfp-mouse {
    cursor: pointer;
}

#reason {
    max-height: 400px;
    min-height: 50px;
}

.vr-size-and-position {
    padding-left: 3px;
    margin-left: 18px;
}

.thread-img {
    max-height: 100%;
    max-width: 600px;
}