@{
    ViewData["Title"] = "Profile Page";
}
<div class="container">
    <div class="row">

        <div class="col-3 justify-content-center text-center">
            <div class="col">
                <label for="formFile" class="rounded-circle pfp-mouse">
                    <img class="flex-shrink-0 pfp rounded-circle" src="https://via.placeholder.com/50" alt="Generic placeholder image">
                </label>
                <input class="form-control visually-hidden" type="file" id="formFile">
            </div>
            <div class="col">
                <div class="fs-5">
                    Nickname
                </div>
                <small>#Login</small>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="text-warning me-2">
                    <i class="bi bi-star-fill"></i> Score: 123
                </div>
                <div class="text-mico ms-2">
                    <i class="bi bi-list-ol"></i> Threads: 37
                </div>
            </div>
            <div class="col mt-2">
                <div class="btn-group btn-group-sm d-grid d-lg-flex" role="group" aria-label="Small button group">
                    <button type="button" class="btn btn-outline-warning">Edit</button>
                    <button type="button" class="btn btn-outline-success">Follow(?)</button>
                    <button type="button" class="btn btn-outline-danger">Report</button>
                    <button type="button" class="btn btn-outline-danger">Ban</button>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="fw-bold fs-4">
                Nickname threads:
            </div>
            <button type="button" class="btn btn-mico btn-sm mb-2"><i class="bi bi-plus-circle"></i> Creat new topic</button>
            <ul class="list-unstyled">
                <li class="media border d-flex align-items-center p-2">
                    <img class="mr-3 flex-shrink-0 threads-list-img rounded" src="https://via.placeholder.com/100" alt="Generic placeholder image">
                    <div class="media-body px-3 text-truncate">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-0 mb-1">Title</h5>
                                <small>Author</small>
                            </div>
                            <div class="col d-flex flex-row-reverse">
                                <small>Date</small>
                            </div>
                        </div>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <div class="tags-container d-flex flex-wrap mt-2">
                            <span class="badge badge-primary mr-1">Tag1</span>
                            <span class="badge badge-primary mr-1">Tag2</span>
                            <span class="badge badge-primary mr-1">Tag3</span>
                            <span class="badge badge-primary mr-1">Tag4</span>
                            <span class="badge badge-primary mr-1">Tag5</span>
                            <span class="badge badge-primary mr-1">Tag6</span>
                            <span class="badge badge-primary mr-1">Tag7</span>
                            <span class="badge badge-primary mr-1">Tag8</span>
                            <span class="badge badge-primary mr-1">Tag9</span>
                        </div>
                        <div class="row d-flex mt-2">
                            <div class="col text-warning">
                                <i class="bi bi-star-fill"></i> : 123
                            </div>
                            <div class="col-10">
                                <div class="btn-group btn-group-sm threads-list-btn" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-success"><i class="bi bi-hand-thumbs-up"></i></button>
                                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down"></i></button>
                                    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-share"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media border  d-flex align-items-center p-2">
                    <img class="mr-3 flex-shrink-0 threads-list-img rounded" src="https://via.placeholder.com/300" alt="Generic placeholder image">
                    <div class="media-body px-3 text-truncate">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-0 mb-1">Title</h5>
                                <small>Author</small>
                            </div>
                            <div class="col d-flex flex-row-reverse">
                                <small>Date</small>
                            </div>
                        </div>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <div class="tags-container d-flex flex-wrap mt-2">
                            <span class="badge badge-primary mr-1">Tag1</span>
                            <span class="badge badge-primary mr-1">Tag2</span>
                            <span class="badge badge-primary mr-1">Tag3</span>
                            <span class="badge badge-primary mr-1">Tag4</span>
                            <span class="badge badge-primary mr-1">Tag5</span>
                            <span class="badge badge-primary mr-1">Tag6</span>
                            <span class="badge badge-primary mr-1">Tag7</span>
                            <span class="badge badge-primary mr-1">Tag8</span>
                            <span class="badge badge-primary mr-1">Tag9</span>
                        </div>
                        <div class="row d-flex mt-2">
                            <div class="col text-warning">
                                <i class="bi bi-star-fill"></i> : 123
                            </div>
                            <div class="col-10">
                                <div class="btn-group btn-group-sm threads-list-btn" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-success"><i class="bi bi-hand-thumbs-up"></i></button>
                                    <button type="button" class="btn btn-outline-danger active"><i class="bi bi-hand-thumbs-down"></i></button>
                                    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-share"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media border d-flex align-items-center p-2">
                    <img class="mr-3 flex-shrink-0 threads-list-img rounded" src="https://via.placeholder.com/32x50" alt="Generic placeholder image">
                    <div class="media-body px-3 text-truncate">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-0 mb-1">Title</h5>
                                <small>Author</small>
                            </div>
                            <div class="col d-flex flex-row-reverse">
                                <small>Date</small>
                            </div>
                        </div>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <div class="tags-container d-flex flex-wrap mt-2">
                            <span class="badge badge-primary mr-1">Tag1</span>
                            <span class="badge badge-primary mr-1">Tag2</span>
                            <span class="badge badge-primary mr-1">Tag3</span>
                            <span class="badge badge-primary mr-1">Tag4</span>
                            <span class="badge badge-primary mr-1">Tag5</span>
                            <span class="badge badge-primary mr-1">Tag6</span>
                            <span class="badge badge-primary mr-1">Tag7</span>
                            <span class="badge badge-primary mr-1">Tag8</span>
                            <span class="badge badge-primary mr-1">Tag9</span>
                        </div>
                        <div class="row d-flex mt-2">
                            <div class="col text-warning">
                                <i class="bi bi-star-fill"></i> : 123
                            </div>
                            <div class="col-10">
                                <div class="btn-group btn-group-sm threads-list-btn" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-success active"><i class="bi bi-hand-thumbs-up"></i></button>
                                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down"></i></button>
                                    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-share"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>