@model MiCo.Models.ViewModels.ProfileReportViewModel
@{
    ViewData["Title"] = "Report Profile Page";
}
<div class="container">
    <div class="row">
        <!-- Report -->
        <form class="col-sm-4 mx-auto" asp-controller="Profile" asp-action="Report" method="post">
            <h3>Report @ViewBag.name</h3>
            <label for="exampleFormControlTextarea1" class="form-label">Reason:</label>
            <textarea class="form-control" id="reason" rows="3" maxlength="300" placeholder="Enter reason..." asp-for="reason" required></textarea>
            <small id="loginHelp" class="form-text text-danger">Max 300 characters!</small>
            <div class="d-flex justify-content-center">
                <a type="submit" class="btn btn-mico btn-sm mt-2 me-1" asp-controller="Home" asp-action="Index">Back to home</a>
                <button type="submit" class="btn btn-danger btn-sm mt-2 ms-1">Report user</button>
            </div>
        </form>
        @if (ViewBag.SuccessMessage != null && ViewBag.Success)
        {
            <div class="d-flex justify-content-center mt-3 text-success">
                <i class="bi bi-check2-circle"></i> @ViewBag.SuccessMessage
            </div>
        }

        @if (ViewBag.SuccessMessage != null && !ViewBag.Success)
        {
            <div class="d-flex justify-content-center mt-3 text-danger">
                <i class="bi bi-check2-circle"></i> @ViewBag.SuccessMessage
            </div>
        }
    </div>
</div>